* {
	font-family: Arial, "Times New Roman", sans-serif;
	font-size: 20px;
	text-align: center;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 48px;
	background-color: yellow;
}

h2 {
	font-size: 30px;
	background-color: yellowgreen;
}

ul {
	list-style: none;
}

.Container {
	height: 100vh;
	background-color: #14430d;
	display: grid;
	grid-template-rows: 55px auto;
}

#Title {
	color: black;
}

.Main-Menu {
	padding: 15px 25px;
}

.Main-Menu p {
	margin: 10px auto;
	padding: 10px;
	background-color: #338327;
}

.Content {
	display: grid;
	grid-template-columns: auto auto;
}

.Picture {
	background-color: blue;
}

.Instructions {
	background-color: red;
	align-self: start;
}