* {
	font-family: Arial, "Times New Roman", sans-serif;
	font-size: 20px;
	text-align: center;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 48px;
	background-color: yellow;
}

h2 {
	font-size: 30px;
	background-color: yellowgreen;
}

ul {
	list-style: none;
}

.Container {
	height: 100vh;
	background-color: #14430d;
	display: grid;
	grid-template-rows: 55px 1fr;
	grid-template-areas: "Title" "Content";
}

.Title {
	grid-area: Title;
}

.Content {
	grid-area: Content;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "Picture" "Instructions";
}

.Picture {
	grid-area: Picture;
	background-color: blue;
}

.Instructions {
	grid-area: Instructions;
	background-color: red;
	align-self: start;
}